@{
    ViewBag.Title = "Library";
    ViewBag.Group = "library";
}

<div class="container-fluid">
    <div class="row">

        <div class="col-sm-4">
            <div class="panel panel-default drop">
                <!-- Default panel contents -->
                <div class="panel-heading">Library</div>

                <!-- List group -->
                <ul class="list-group">
                    <li class="list-group-item active"><a href="/library">Start</a></li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Morbi leo risus</li>
                    <li class="list-group-item">Porta ac consectetur ac</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
            </div>
        </div>

        <div class="col-sm-8">
            <h2>Library</h2>
            <p>Welcome to the library, and source of information about all assemblies checked into source control. The library uses XML comments and MAML to generate API documentation for each assembly.</p>
            <ul>
                <li><a href="http://www.ewoodruff.us/mamlguide">Sandcastle MAML Guide</a></li>
                <li><a href="http://www.ewoodruff.us/xmlcommentsguide">Sandcastle XML Guide</a></li>
            </ul>
        </div>

    </div>
</div>