@model Castle.Web.Models.Project.ProjectViewModel
@{
    ViewBag.Title = "Create Project";
    ViewBag.Group = "source";
}

<div class="page-header">
    <h1 class="page-title">Create Project</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
            @Html.Partial("_BasicSettings")
        </div>
    </div>
</div>