@model Castle.Web.Models.Project.ProjectViewModel
@{
    ViewBag.Title = @Model.Project.Name;
    ViewBag.Group = "source";
}

<div class="page-header">
    <h1 class="page-title"><a href="/@Model.Project.Repository.Key">@Model.Project.Repository.Name</a> / <strong><a href="/@Model.Project.Repository.Key/@Model.Project.Key">@Model.Project.Name</a></strong></h1>
</div>

@*<div data-ng-view></div>*@

@Html.Partial("_temp")
