@model Castle.Web.Models.Repository.RepositoryViewModel
@{
    ViewBag.Title = "Settings";
    ViewBag.Group = "source";
}

<div class="container">
    <div class="page-header">
        <h1 class="page-title"><a href="/source/@Model.Repository.Key">@Model.Repository.Name</a></h1>
    </div>

    @Html.Partial("_BasicSettings")

    <div class="panel panel-danger">
        <div class="panel-heading">
            <div class="panel-title">
                Danger Zone
            </div>
        </div>
        <div class="panel-body">
            <div class="clearfix">
                <div class="pull-left">
                    <strong>Delete this repository</strong><br />
                    Once you delete this repository, there is no going back. Please be certain.
                </div>
                <div class="pull-right">
                    <form method="post" action="/repository/@Model.Repository.Key/delete" data-ng-non-bindable>
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
