<div class="tab-pane active" id="source">

    <div class="source-header">
        <ol class="breadcrumb">
            <li data-ng-repeat="link in paths">
                <a data-ng-if="$last == false" href="#/source/{{link.path}}">{{ link.name }}</a>
                <a data-ng-if="$last == true" href="#/raw/{{link.path}}">{{ link.name }}</a>
            </li>
        </ol>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><span class="glyphicon glyphicon-file"></span> </h3>
        </div>
        <div class="panel-body" data-ng-bind-html="openFile">
        </div>
    </div>

</div>