@model Castle.Web.Models.Source.SourceViewModel
@{
    ViewBag.Group = "source";
}
<div class="page-header">
    <h1>Castle <small>Source control that doesn't suck.</small></h1>
</div>

<div class="container">
    <div class="row">

        <div class="col-md-4 col-md-push-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="clearfix">
                        <div class="pull-left">
                            Repositories <span class="small">(@Model.RepositoryList.Count())</span>
                        </div>
                        <div class="pull-right">
                            <a href="/repository/create" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-plus"></span> New Repository</a>
                        </div>
                    </div>
                </div>
                <ul class="list-group">
                    @foreach (var item in Model.RepositoryList)
                    {
                        <li class="list-group-item">
                            <a href="/source/@item.Key">@item.Name</a>
                        </li>
                    }
                </ul>
            </div>
        </div>

        <div class="col-md-8 col-md-pull-4">

        </div>
    </div>
</div>
