.drop {
    margin-top: 10px;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.navbar-logo{
    float: left;
    width: 32px;
    height: 32px;
    margin-top: 8px;
    margin-right: 20px;
}

.tab-content {
    padding-top: 10px;
}

.ng-cloak {
    display: none;
}

.page-title {
    font-size: 20px;
    line-height: 28px;
}

.panel-body h2 {
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #d3d3d3;
}