.drop {
    margin-top: 20px;
}
.media.drop {
    margin-bottom: 50px;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.navbar-logo{
    float: left;
    width: 32px;
    height: 32px;
    margin-top: 8px;
    margin-right: 20px;
}

.tab-content {
    padding-top: 10px;
}

.ng-cloak {
    display: none;
}

.page-title {
    font-size: 20px;
    line-height: 28px;
}

.panel-body h2 {
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #d3d3d3;
}

.panel-form form {
    margin: 20px;
}

/* Commit History */
.commit-group { 
    list-style-type: none;
    padding: 0;
}
.commit-group-item { 
    position: relative;
    padding: 8px 8px 8px 52px;
    border-top: 1px solid #d3d3d3;
}
.commit-group-item:first-child { 
    border: none; 
}
.commit-group-item img { 
    float: left; 
    margin-left: -44px;
}
.commit-message {
    margin: 1px 0;
    font-size: 14px;
    font-weight: bold;
}
.commit-author { 
    font-size: 12px;
    color: #888;
}
.commit-author-name {
    color: #444;
}
.commit-links { 
    position: absolute;
    top: 12px;
    right: 8px;
    white-space: nowrap;
}